<%= if @access_token do %>
  Token: <code><%= @access_token %></code>

  <h3>Repositories</h3>
  <ul>
    <%= for repo <- @repositories do %>
      <li><%= repo["name"] %> -- <%= repo["html_url"] %></li>
    <% end %>
  </ul>

  <p><%= link "Logout", to: auth_path(@conn, :delete), method: :delete, class: "btn btn-danger" %></p>
<% else %>
  <p><a href="<%= auth_path @conn, :index %>">Connect to GitHub</a></p>
<% end %>
